<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="InkTribeGraphics">

    <link href=" fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href=" fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href=" bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href=" css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href=" css/style.css" type="text/css">
    <link href=" img/fav.png" rel="shortcut icon" type="image/x-icon">
	<link href=" img/fav.png" rel="icon" type="image/x-icon">
    <meta name="description" content="InkTribe Graphics is a modern digital agency that brings ambitious brands to the next level by transforming their digital business environment. InkTribe Graphics helps your brand with creative design solutions with our in-depth research and designing process. ">
    <meta property="og:image" content=" img/1.jpg" />
    <title>InkTribe Graphics - Modern Digital Agency</title>

    <style>
        body { background-color: #f2edda; }
    </style>

</head>

<body>

<div class="page-wrapper">
    <header>
        <div class="brand animate"><a href=""><img src=" img/logo.png" alt=""></a></div>
        <nav>
            <ul class="navigation animate" >
                <li><a href="" data-toggle="modal" data-target="#modal-our-works">Our Works</a></li>
                <li><a href="" data-toggle="modal" data-target="#modal-services">Services</a></li>
                <li><a href="" data-toggle="modal" data-target="#modal-contact-us">Contact</a></li>
            </ul>
            <!--end navigation-->
        </nav>
    </header>
    <div class="content-wrapper">
        <div class="content-main animate">
            <div class="container">
                <h1 class="font-size-60">We Are Making Some Changes!</h1>
                <h2 class="opacity-60">Something Awesome is Coming Soon</h2>
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                    <form class="form">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" placeholder="Your email">
                            <span class="input-group-btn">
                                <button class="btn" type="submit"><i class="arrow_right"></i></button>
                            </span>
                        </div>
                        <p class="font-size-15">*Reach out to us at  <a href="mailto:hello@inktribe.graphics">hello@inktribe.graphics</a> or <a href="tel:+919873430041"> +91 9873430041 </a> </p>
                    </form>
                    <!--end form-->
                </div>
                <!--end col-md-10-->
            </div>
            <!--end container-->
        </div>
        <!--end content-main-->
        <div class="background-wrapper">
            <div id="background-content"></div>
        </div>
        <!--end background-wrapper-->
    </div>
    <!--end content-wrapper-->
    <footer>
        <div class="social-icons animate">
            <a href="https://www.facebook.com/inktribegraphics/"><i class="fa fa-facebook" ></i></a>
            <a href="https://www.instagram.com/inktribegraphics/"><i class="fa fa-instagram"></i></a>
        
        </div>
        <!--end social-icons-->
    </footer>
</div>
<!--end page-wrapper-->

<!-- Modal About Us -->
<div class="modal fade" id="modal-about-us" tabindex="-1" role="dialog" aria-labelledby="modal-about-us-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#61dfff">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-about-us-label">About Us</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <section>
                                <h3>Our Team</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="person">
                                            <div class="image">
                                                <div class="bg-transfer"><img src=" img/person-01.jpg" alt=""></div>
                                            </div>
                                            <h4>Jane Doe</h4>
                                            <h5>Company CEO</h5>
                                            <div class="social-icons">
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-youtube"></i></a>
                                            </div>
                                        </div>
                                        <!--end person-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="person">
                                            <div class="image">
                                                <div class="bg-transfer"><img src=" img/person-02.jpg" alt=""></div>
                                            </div>
                                            <h4>Peter Wood</h4>
                                            <h5>Marketing Specialist</h5>
                                            <div class="social-icons">
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-youtube"></i></a>
                                            </div>
                                        </div>
                                        <!--end person-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                            </section>
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-7 col-sm-7">
                            <section>
                                <h3>Shortly About Us</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut
                                    condimentum. Aenean hendrerit, nisl sit amet molestie eleifend, magna augue pulvinar enim,
                                    nec mattis quam eros non ex. Pellentesque luctus ex enim, a tempus lorem egestas quis.
                                    Nunc et tincidunt dui. Cras in fermentum leo.
                                </p>
                                <p>
                                    Mauris molestie pharetra tristique. Donec interdum odio erat, sed ullamcorper lectus
                                    egestas non.  Quisque sollicitudin vestibulum leo eget malesuada. Pellentesque sem erat,
                                    tempor a odio sed, tincidunt mollis purus. Cras suscipit ultrices cursus.
                                </p>
                            </section>
                            <section>
                                <h3>Our Skills</h3>
                                <div class="skill">
                                    <h4>Webdesign</h4>
                                    <aside>80%</aside>
                                    <figure class="bar">
                                        <div class="bar-active width-80"></div>
                                        <div class="bar-background"></div>
                                    </figure>
                                </div>
                                <!--end skill-->
                                <div class="skill">
                                    <h4>Photography</h4>
                                    <aside>100%</aside>
                                    <figure class="bar">
                                        <div class="bar-active width-100"></div>
                                        <div class="bar-background"></div>
                                    </figure>
                                </div>
                                <!--end skill-->
                                <div class="skill">
                                    <h4>Marketing</h4>
                                    <aside>60%</aside>
                                    <figure class="bar">
                                        <div class="bar-active width-60"></div>
                                        <div class="bar-background"></div>
                                    </figure>
                                </div>
                                <!--end skill-->
                            </section>
                        </div>
                        <!--end col-md-7-->
                    </div>
                    <!--end row-->
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-about-us-->

<!-- Modal Our Works -->
<div class="modal fade" id="modal-our-works" tabindex="-1" role="dialog" aria-labelledby="modal-our-works-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#dddf0e">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-our-works-label">Our Works</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <a href=" img/7.jpg" class="work image-popup">
                                <div class="description">
                                    <h4>Branding</h4>
                                    <h5>Logo Design</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src=" img/7.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href=" img/2.jpg" class="work image-popup">
                                <div class="description">
                                    <h4>Labels</h4>
                                    <h5>Packaging Designs</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src=" img/2.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href=" img/3.jpg" class="work image-popup">
                                <div class="description">
                                    <h4>Digital</h4>
                                    <h5>Social Media Creatives</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src=" img/3.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href=" img/4.mp4" class="work image-popup">
                                <div class="description">
                                    <h4>Promo</h4>
                                    <h5>Video Editing</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src=" img/4.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href=" img/5.jpg" class="work image-popup">
                                <div class="description">
                                    <h4>Menu</h4>
                                    <h5>Print Design</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src=" img/5.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href=" img/6.jpg" class="work image-popup">
                                <div class="description">
                                    <h4>Product</h4>
                                    <h5>Mockup & Packaging Designs</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src=" img/6.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-our-works-->

<!-- Modal Services -->
<div class="modal fade" id="modal-services" tabindex="-1" role="dialog" aria-labelledby="modal-services-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#00ffff">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-services-label">Services</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src=" img/camera.png" alt="">
                                </div>
                                <h3>Design</h3>
                                <p>We provide complete designing solutions for your every need. Let's get started with your creative brief.</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src=" img/computer.png" alt="">
                                </div>
                                <h3>Social Media</h3>
                                <p>Boost and expand your online presence the right way, with research and creative process.</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src=" img/compose.png" alt="">
                                </div>
                                <h3>Web Site Design</h3>
                                <p>Make a Statement with modern web design services to help grow your business.</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src=" img/cloud.png" alt="">
                                </div>
                                <h3>Video Editing</h3>
                                <p>A complete solution for your audio/visual needs, all done in-house.</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src=" img/mail.png" alt="">
                                </div>
                                <h3>Branding</h3>
                                <p>Our motto is simple, we care for the products we make and make them better every day.</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src=" img/magnifyingglass.png" alt="">
                                </div>
                                <h3>Print Solutions</h3>
                                <p>In-house print media services with competitive pricing.</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-services-->

<!-- Modal Contact Us -->
<div class="modal fade" id="modal-contact-us" tabindex="-1" role="dialog" aria-labelledby="modal-contact-us-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#d851ff">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-contact-us-label">Contact Us</h2>
                </div>
                <div id="map"></div>
                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <h3>Address</h3>
                                <address>
                                    458, Sector 31, <br> Faridabad (Haryana)<br>
                                    +91 9873430041<br>
                                    <a href="mailto:hello@inktribe.graphics">hello@inktribe.graphics</a>
                                </address>
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-3">
                                <h3>Social</h3>
                                <figure><a href="https://www.facebook.com/inktribegraphics/" class="icon"><i class="fa fa-facebook"></i>Facebook</a></figure>
                                <figure><a href="https://www.instagram.com/inktribegraphics/" class="icon"><i class="fa fa-instagram"></i>Instagram</a></figure>
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-6 col-sm-6">
                                <h3>Contact Form</h3>
                                <form id="form-contact" method="post" class="form clearfix inputs-underline">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Your Name" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Your Email" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                    </div>
                                    <!--end row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Your Message" required></textarea>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-12 -->
                                    </div>
                                    <!--end row -->
                                    <div class="form-group clearfix">
                                        <button type="submit" class="btn pull-right btn-default btn-framed btn-rounded" id="form-contact-submit">Send a Message</button>
                                    </div>
                                    <!--end form-group -->
                                    <div class="form-contact-status"></div>
                                </form>
                                <!--end form-contact -->
                            </div>
                            <!--end col-md-6-->
                        </div>
                    </section>
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-contact-us-->

<script  src=" js/jquery-2.2.1.min.js"></script>
<script  src=" bootstrap/js/bootstrap.min.js"></script>
<script  src=" js/jquery.validate.min.js"></script>
<script  src=" js/jquery.magnific-popup.min.js"></script>
<script  src=" js/sketch.min.js"></script>
<script  src=" js/custom.js"></script>


<script>

    
    // Background

    var COLOURS = [ '#00ffff', '#ffff00', '#ff00ff', '#eb205a', '#9cff61' ];
    var radius = 0;
    var randomColor = 0;

    Sketch.create({

        container: document.getElementById( 'background-content' ),
        autoclear: false,
        retina: 'auto',

        update: function() {
            radius = 2 + abs( sin( this.millis * 0.003 ) * 50 );
        },

        click: function() {
            randomColor = parseInt( 0 + (COLOURS.length - 0) * Math.random(), 10 ) ;
        },

        touchmove: function() {

            for ( var i = this.touches.length - 1, touch; i >= 0; i-- ) {

                touch = this.touches[i];

                this.lineCap = 'round';
                this.lineJoin = 'round';
                this.fillStyle = this.strokeStyle = COLOURS[ randomColor % COLOURS.length ];
                this.lineWidth = radius;

                this.beginPath();
                this.moveTo( touch.ox, touch.oy );
                this.lineTo( touch.x, touch.y );
                this.stroke();
            }
        }
    });


</script>

</body>
